h1{
    text-align: center;
}
form{

    border: 2px solid black;
    border-radius: 30px 30px;
    width: 50%;
    margin:0 auto;
    align-content: center;
    padding:40px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-top:50px;

}
 input{
    border: 2px solid black;
    border-radius: 30px 30px;
    padding: 20px;

 }
