h1{
    text-align: center;
}
container{
    display: flex;
    background-color: antiquewhite;
    width: 50%;
    justify-content: space-evenly;
    margin:0 auto;
    border: 0px solid black;
    border-radius: 30px 30px;
    margin-top:50px;
 
}
form{

    border: 0px solid black;
    border-radius: 30px 30px;
    padding:40px;
 }

 input{
    border-radius: 30px 30px;
    padding: 20px;
    margin-top:20px; }



body{
    background-color:rgb(4,178,254);
}

input[type=radio],label{
 margin-top: 10px;
}